#Указали файл для игнора
ignore-file.css

# Указали все директории проекта с именем ignore-direct
ignore-direct/

# Указали директорию ignore-direct, которая находится в корне проекта
/ignore-direct/

# Указали все файлы с расширением .random
*.random